/*浏览器样式重置*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
/*html、body*/
html, body {
  height: 100%;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
}
html {
  overflow-y: scroll;
}
body {
  background-color: #b1e583; 
}
/*重用类*/
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
/*容器*/
.container {
  width: 980px;
  height: auto;
  margin: 0 auto;
}
/*头部导航*/
.nav {
  padding-top: 10px; 
}
.nav .n-ul{
  width: 180px; 
  margin: 0 auto;
}
.nav li {
  float: left;
  width: 60px;
  padding: 15px 0;
}
/*文章列表*/
.articles {
  min-height: 500px;
}

/*页脚*/
.footer {
  text-align: center;
  margin: 50px 0;
}
.footer span {
  font-size: 14px;
  color: #333;
}